* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.board {
    border: 2px brown solid;
}

.permanentPieces {
    display: flex;
}

.square, .permanentPieces > div {
    width: 50px;
    height: 50px;
}

.blackSquare {
    background-color: rgb(255, 80, 80);
}

.board-row {
    display: flex;
}

.board-label {
    display: flex;
}