* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.permanentPieces {
    display: flex;
}

.square, .permanentPieces > div {
    width: 50px;
    height: 50px;
}
.piece {
    text-align: center;
    font-size: 40px;
}


.blackSquare {
    background-color: rgb(255, 80, 80);
}

.board {
    border: 2px brown solid;
}
